@page "{regionid?}"
@model WebApp.Pages.RegionQueryOneModel
@{
    ViewData["Title"] = "Pkey Region Query";
}
<h1>Query: Region query by primary key</h1>
<p>@Model.FeedbackMessage</p>
<form method="post">
    <label>
        Enter Region ID:
        <input type="number" asp-for="regionid" placeholder="enter your region id number" />
    </label>
    @*<button type="submit">Fetch By Id</button>*@
    <button type="submit" asp-page-handler="ByID">Fetch By Id</button>

    <label>
        Select the Region:
        <select asp-for="selectregionid">
            @* if you do not indicate a specific option to display
                then the list defaults to the first option line*@
            <option value="0">select ...</option>
            @foreach (var item in Model.RegionList)
            {
                //to retain the selection you need to specific a row to be
                //  the selected option
                //this is done with the selected attribute on the value
                if (item.RegionID == Model.regionid)
                {
                    <option value="@item.RegionID" selected>@item.RegionDescription</option>

                }
                else
                {
                    <option value="@item.RegionID">@item.RegionDescription</option>
                }
            }
        </select>


    </label>
    <button type="submit" asp-page-handler="BySelection">Fetch select region</button>
    <label>
        RegionId:
        <input type="text" readonly asp-for="regionInfo.RegionID" />
    </label>
    <label>
        Description:
        <input type="text" readonly asp-for="regionInfo.RegionDescription" />
    </label>
    @if (Model.regionInfo == null && Model.regionid > 0)
    {
        <p style="color:firebrick;font-weight:bold">
            No region found for this region id.
        </p>
    }
    @*@if (Model.regionid != null)
        if (Model.RegionList.Count() == 0 && Model.regionid > 0)
        {
            <p style="color:firebrick;font-weight:bold">
                No region found for this region id.
            </p>
        }
        else
        {
            <table>
                <thead>
                <th>ID</th>
                <th>Description</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.RegionList)
                    {
                        <tr>
                            <td>@item.RegionID</td>
                            <td>
                                <a href="/TerritoriesCRUD/@item.RegionID">
                                    @item.RegionDescription
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>



            </table>*@
    }

</form>